<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Admin</key>
    <dict>
        <key>IsAdminModeEnabled</key>
        <true/>
    </dict>
    <key>AppTermination</key>
    <dict>
        <key>ExecuteAsRoot</key>
        <true/>
        <key>CompleteInstallationScriptPath</key>
        <string>${Scripts}/termination.sh</string>
    </dict>
    <key>General</key>
    <dict>
        <key>Variables</key>
        <dict>
            <key>Icons</key>
            <string>${Resources}/Icons</string>
            <key>Images</key>
            <string>${Resources}/Images</string>
            <key>Resources</key>
            <string>${OCTORY_DIRECTORY}/Resources</string>
            <key>Scripts</key>
            <string>${Resources}/Scripts</string>
        </dict>
    </dict>
    <key>FontStyles</key>
    <dict>
        <key>Main</key>
        <dict>
            <key>TextAlignment</key>
            <string>Center</string>
            <key>Size</key>
            <integer>30</integer>
        </dict>
    </dict>
    <key>Monitoring</key>
    <dict>
        <key>Monitors</key>
        <array>
            <dict>
                <key>Type</key>
                <string>Application</string>
                <key>Name</key>
                <string>google-chrome</string>
                <key>DisplayName</key>
                <string>Google Chrome</string>
                <key>Installer</key>
                <string>Jamf</string>
                <key>Detail</key>
                <string>Surfing the internet 🏄</string>
                <key>IconURL</key>
                <string>${Icons}/chrome.png</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>Application</string>
                <key>Name</key>
                <string>zoom</string>
                <key>DisplayName</key>
                <string>Zoom</string>
                <key>Installer</key>
                <string>Jamf</string>
                <key>Detail</key>
                <string>Calling your prospects</string>
                <key>IconURL</key>
                <string>${Icons}/zoom.png</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>Application</string>
                <key>Name</key>
                <string>slack</string>
                <key>DisplayName</key>
                <string>Slack</string>
                <key>Installer</key>
                <string>Jamf</string>
                <key>Detail</key>
                <string>Engage with your coworkers!</string>
                <key>IconURL</key>
                <string>${Icons}/slack.png</string>
            </dict>
        </array>
    </dict>
    <key>Slides</key>
    <array>
        <dict>
            <key>Containers</key>
            <array>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>Spacer</string>
                        </dict>
                        <dict>
                            <key>Type</key>
                            <string>Image</string>
                            <key>URL</key>
                            <string>${Images}/logo.png</string>
                            <key>size</key>
                            <integer>10</integer>
                        </dict>
                        <dict>
                            <key>Type</key>
                            <string>Text</string>
                            <key>Text</key>
                            <string>WELCOME YOU</string>
                            <key>TextFontConfiguration</key>
                            <dict>
                                <key>Style</key>
                                <string>Main</string>
                                <key>TextAlignment</key>
                                <string>Center</string>
                                <key>Size</key>
                                <integer>90</integer> <!-- Increase the font size here -->
                            </dict>
                        </dict>
                        <dict>
                            <key>Type</key>
                            <string>Spacer</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
        <dict>
            <key>Containers</key>
            <array>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>Video</string>
                            <key>URL</key>
                            <string>${Resources}/AAB.mp4</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>

         <dict>
            <key>Containers</key>
            <array>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>Video</string>
                            <key>URL</key>
                            <string>${Resources}/AAC.mp4</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
          <dict>
            <key>Containers</key>
            <array>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>Video</string>
                            <key>URL</key>
                            <string>${Resources}/AAB.mp4</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>  <dict>
            <key>Containers</key>
            <array>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>Video</string>
                            <key>URL</key>
                            <string>${Resources}/AAC.mp4</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>

<dict>
    <key>Containers</key>
            <array>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>Video</string>
                            <key>URL</key>
                            <string>${Resources}/AAC.mp4</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
        <dict>
            <key>Containers</key>
            <array>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>PDF</string>
                            <key>URL</key>
                            <string>https://www.termsfeed.com/public/uploads/2021/12/sample-eula-template.pdf</string>
                        </dict>
                        <dict>
                            <key>Type</key>
                            <string>Input</string>
                            <key>InputType</key>
                            <string>Checkboxes</string>
                            <key>Variable</key>
                            <string>EULA_Agreement</string>
                            <key>Items</key>
                            <array>
                                <string>I acknowledge and agree</string>
                            </array>
                            <key>Validation</key>
                            <dict>
                                <key>WarningText</key>
                                <string>Please acknolwedge and agree to the EULA before continuing.</string>
                            </dict>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
        <dict>
            <key>Containers</key>
            <array>
                <dict>
                    <key>IsLarge</key>
                    <true/>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>Web</string>
                            <key>URL</key>
                            <string>https://www.teamcomputers.com/</string>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Type</key>
                            <string>AppMonitor</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
    </array>
    <key>Window</key>
    <dict>
        <key>OnScreen</key>
        <string>Simple</string>
        <key>IsTitleBarHidden</key>
        <true/>
        <key>IsMovable</key>
        <false/>
        <key>Position</key>
        <dict>
            <key>Vertical</key>
            <string>Center</string>
            <key>Horizontal</key>
            <string>Center</string>
        </dict>
        <key>MinimumSize</key>
        <dict>
            <key>Height</key>
            <integer>640</integer>
            <key>Width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</dict>
</plist>

